.abc{
    font-size: 35px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
    width: 50%;
    background-color: red;
}
body{
    background-color: chocolate;
    
}

#abhu{
    color: black;
    background-color: aqua;
}
#camara{
    width: 350px;
    height: 300px;
    border-style: dashed;
    border-width: 5px;
    border-color: blue;
}